/* Header.css */

.header-main {
  background-color: #252525;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0;
}

.logo img {
  width: 90px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 35px 30px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.menu a:hover {
  color: #FF5733;
  transition: color 0.3s;
}

.login-button button {
  background-color: #FF5733;
  /* Change to the desired background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
}

.login-button button:hover {
  background-color: #E64A29;
  /* Change to the desired hover color */
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .header-main {
    flex-direction: column;
    padding: 20px;
  }

  .menu ul {
    margin-top: 20px;
  }
}