.footer_section {
    width: 100%;
    float: left;
    background-image: url(../../assets/footer-bg.jpg);
    height: auto;
    padding: 90px 0;
    background-size: 100% 100%;
    /* padding-bottom: 30px; */
    background-repeat: no-repeat;
}


.footer-main{
    display: flex;
    justify-content: center;
}

/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #CE214F;
    height: auto;
}

.copyright_text {
    padding: 10px 0;
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #e27141;
}

.footer-logo img {
    display: flex;
    justify-content: flex-start;
}
.footer-content p {
    font-size: 16px;
    color: #fff;
    line-height: 25px;
    text-align: left;
    margin-top: 20px;
}
.Footer-content .contact_msg {
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}
.Footer-content .contact_msg::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 14%;
    background: #CE214F;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.contact_msg_main{
    display: flex;
    justify-content: center;
}
.contact_msg_inner li a {
    color: #fff;
    font-size: 17px;
    line-height: 35px;
    text-align: left;
    text-decoration: none;
}
.contact_msg_inner li a:hover{
    color:#CE214F;
}
ul {
    list-style-type: none;
    padding-left: 0;
  }
  a{
    cursor: pointer;
  }