/* LoginForm.css */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
}

.login-form-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form .form-control {
    padding: 10px;
    /* Adjust padding as needed */
}

/* Style for the password input and eye icon */
.password-input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    /* Adjust padding as needed */
}

.password-input-group .form-control {
    flex: 1;
    border: none;
    padding: 0;
    margin: 0;
}

.password-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    /* Adjust padding as needed */
}

.password-toggle-button:focus {
    outline: none;
}

.login-submit-button {
    width: 100%;
    margin-top: 20px;
    /* Add margin to separate it from the password input */
}

.register-link {
    text-align: center;
    margin-top: 10px;
    /* Adjust the margin as needed */
    font-size: 14px;
}

.register-link a {
    text-decoration: none;
    color: #007bff;
    /* Link color */
}

.register-link a:hover {
    text-decoration: underline;
    color: #0056b3;
    /* Hover color */
}